.main-summ-container, .inside-summ-container-label, .inside-summ-container-value {
	display: inline-block;
}
.inside-summ-container-value {
	.t-btn-disabled {
		color: #8ecb60 !important;
	}
	.detail .ts-controlgroup-tools .t-btn-wrapper {
		border: none !important;
	}
}
div[id$="SummaryConfigCLContainerList"] {
	width: auto;
	float: right;
	margin: auto 0 auto auto;
}
.grid-detail {
	.ts-controlgroup-tools {
		position: relative;
		width: 100%;
	}
	.ts-controlgroup-caption-wrap {
		white-space: nowrap;
	}
}
.detail .ts-controlgroup-tools .t-btn-wrapper:first-child {
	margin-left: 0em;
}
.main-summ-container {
	margin-left: 0.5em;
}
.detail .ts-controlgroup-tools .inside-summ-container-value .t-btn-wrapper {
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.detail .ts-controlgroup-tools .inside-summ-container-label .t-btn-wrapper {
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.inside-summ-container-del {
	display: inline-block;
}
.detail .ts-controlgroup-tools .inside-summ-container-del .del-button-wrapper {
	border: none;
	width: 1em;
	height: 1em;
	margin-left: -1.9em;
	padding-top: 0em;
	padding-left: 1em;
}